<h1>Birthday Calculator</h1>
<form name="birthday" action="/birthday" method="post">
<label for="name">What's your name?</label>
<br><br>
<input type="text" id="name" name="name" required>
<br><br>
<label for="birthday">When's your birthday?</label>
<br><br>
<input type="date" id="birthday" name="birthday" required>
<br><br>
<input type="submit" value="GO!">
</form>